a{color: #1d1d1d;
    text-decoration: none;}

    .fadein {
        opacity : 0;
        transform : translate(0, 50px);
        transition : all 500ms;
    }
    .fadein.scrollin {
        opacity : 1;
        transform : translate(0, 0);
    }
    
    /* ヘッダー */
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 999;
        background-color: white;
        padding-left: 600px;
        padding-right: 433px;
    }
    
    .top-ul>ul{
        display: flex;
    }
    
    .top-ul{
        margin-left: 200px;
    
    }
    
    .top-ul img{
        padding-right: 10px;
        margin-top: 10px;
    }
    
    .top-midleft{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 80px;
    }
    
    .top-ul>ul>li{
        padding-right: 40px;
    }
    
    .top-left>ul{
        display:flex;
        justify-content: flex-end;
        
    }
    .logo{
        display: flex;
    }
    .logo1{
        display: block;
        margin: 0 auto;
    }
    .logo2{
        display: block;
        margin: 0 auto;
    }
    
    
    
    /* ヘッダーの次のメニュー */
    
    #main-pic>ul{
        display: flex;
        justify-content: top;
        align-items: top;
        position: fixed;
        width: 100%;
        padding-top: 15px;
        padding-left: 125px;
        z-index: 998;
        background-color: black;
        opacity: 0.7;
    }
    
    #main-pic img{
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
    
    #main-pic>ul>li{
        border-right: 1px solid #000;
        text-align: auto;
    
    }
    
    .menu{
        display: inline-block;
        height: 80px;
        margin-bottom: 15px;
        margin-bottom: 15px;
        margin-top: 0px;
        width:100%;
        margin-bottom: 15px;
        margin-right: 15px;
        margin-left: 20px;
    }
    
    .menu img{
        height: 100%;
        width: 80%
    }


        /* レッスントップ */
        .lesson_top{
            background-image: url(..//img/news_top.png);
            height: 50vh;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: top;
            align-items: top;
            flex-direction: column;
         }
      
         .lessontop_text{
          text-align: center;
          margin-top: 13%;
          padding: 20px;
          background: rgba(0, 0, 0, 0.6);
         }
      
         .lessontop_text h1{
          color: white;
          font-size: 50px;
         }
         
         .lessontop_text h2{
          color: white;
          font-size: 30px;
          margin-top: 1%;
         }

         /* スタジオヘッダー下 */

        .studio_header2{
            margin-left: 150px;
            font-size: 15px;
        }

        .studio_page_tab{
          color: #006ccc;
        }




        /* ニューストップ */
        .news_top{
            margin-left: 200px;
            margin-top: 100px;
            margin-bottom: 200px;
        }


        /* ニュースメイン */
        .news1{
            margin-top: 50px;
            margin-left: 230px;
            margin-right: 230px;
            padding-top: 50px;
            border-top: solid 1px black;
        }

        .news2{
            margin-top: 100px;
            margin-left: 230px;
            margin-right: 230px;
            padding-top: 50px;
            border-top: solid 1px black;
        }

        .news3{
            margin-top: 100px;
            margin-left: 230px;
            margin-right: 230px;
            margin-bottom: 50px;
            padding-top: 50px;
            border-top: solid 1px black;
            padding-bottom: 50px;
            padding-bottom: 100px;
            border-bottom: solid 1px black;
            
        }


        /* ニュースボトム */
        .news_bottom{
            display: flex;
            justify-content: center;
            margin-bottom: 200px;
        }
        .news_bottom>div{
            margin: 0 50px;
        }
    


/* ニュースタイトル */

.fadeRight{
    animation-name:fadeRightAnime;
    animation-duration:1.0s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeRightAnime{
      from {
        opacity: 0;
      transform: translateX(100px);
      }
    
      to {
        opacity: 1;
      transform: translateX(0);
      }
    }

  
    .flex>.box{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-style: italic;
        font-size: 50px;
        background: white;
        width: 500px;
        border-width: 5px;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-left: none;
        border-image-source:  linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
        border-image-slice: 1;
    }
    
    .flex{
        margin-left: 200px;
        margin-top: 100px;
    }





    /* ニュースボトム */
    .news_tab{
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    .news_tab>a>li{
        padding: 10px;
        margin: 20px;
        font-size: 20px;
    }


    .tab2{
        background: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1) 77%);
        color: white;
        font-weight: bold;
        border-radius: 50%;
    }

    .news_tab>a>li:hover{
        background: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1) 77%);
        color: white;
        font-weight: bold;
        border-radius: 50%;
    }







/* サイトマップ */
.sitemap{
    margin-top: 80px;
    margin-left: 200px;
}
.site_about{
    display: flex;
    margin-top: 30px;
}
.sitemap h1{
    margin-bottom: 20px;
}
.sitemenu>ul>li{
    padding: 5px;
    font-weight: bold;
}
.sitemenu{
    padding-right: 100px;
}

.siteinfo>ul>li{
    padding: 5px;
    font-weight: bold;
}
.siteinfo{
    padding-right: 100px;
    padding-left: 10px;
    border-left: 1px solid black;
}

.other>ul>li{
    padding: 5px;
    font-weight: bold;
}
.other{
    padding-left: 10px;
    border-left: 1px solid black;
}

.sitemap>h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -50px;
    margin-right: 35px;
}

/* フッダー */
.footer{
    display: flex;
    margin-top: 50px ;
    background-color: #808080;
    padding-bottom: 50px;
}

.footer>.logo{
    margin-left: 10px;
    margin-top: 10px;
}
